
# Dependency directories
node_modules/


# Log files
npm-debug.log


# Coverage output (used by tools like Istanbul/nyc)
coverage/
.nyc_output


# System files
.DS_Store


# Editor and OS backup files
*~
\#*#


# Configuration files
.npmrc


# Environment variable files
.env
env.json
